<style>

body { background-color: gray; }
h1 { text-align:center;
font-size: 60px;
color: white;
font-family: "Courier New";
border-style:solid;}
h2 { color: white;
font-family: "Courier New";
font-size: 25px; }
.titles { color: black;
font-family: "Courier New";
font-family: 20px; }
.newtitle { color: black;
font-family: "Courier New";
font-size: 15px;
width: 400px;}
.newpost { color: black;
font-family: "Courier New";
font-size: 15px;
height: 100px; width: 400px;}

</style>

<h1 class="header">Welcome to the BOSE blog</h1>

<h2 class="options">Look at a current blog</h2>
<ul>
  {% for key, value in posts.iteritems() %}
  <li class="titles"><a href="/{{key}}">{{key}}</a></li>
  {% endfor %}
</ul>
<br>
<h2>Write a new post to a blog</h2>
<form method="post">
  Title: <input name="title" type="text" class="newtitle">
  <br>
  Post: <input name="post" type="text" class="newpost">
  <input type="submit" value="Submit">
</form>
