<style>

body { background-color: gray; }
h1 { text-align:center;
font-size: 60px;
color: white;
font-family: "Courier New";
border-style:solid;}
h2 { color: white;
font-family: "Courier New";
font-size: 25px; }
.titles { color: black;
font-family: "Courier New";
font-family: 20px; }
.newtitle { color: black;
font-family: "Courier New";
font-size: 15px;
width: 400px;}
.newpost { color: black;
font-family: "Courier New";
font-size: 15px;
height: 100px; width: 400px;}

</style>

<h1 class="header">Welcome to the BOSE blog</h1>

<h2 class="options">Look at a current blog</h2>
<ul>
  <!-- We will need to make this into a for look to display as many -->
  <!-- titles/links as there are blog posts. We will also need to us -->
  <!-- %s to substitute "Title1" for the actual title of the post. We -->
  <!-- also need to route each title the corresponding page -->
	<li class="titles"><a href="http://www.google.com">Title1</a></li>
</ul>
<br>
<h2>Write a new post to a blog</h2>
<form>
Title: <input type="text" class="newtitle">
</form>
<br>
<form>
Post: <input type="text" class="newpost">
<!-- We also need to make this submit button actually send the info to -->
<!-- a form (directly the the database?) #justsayin -->
<input type="submit" value="Submit">
</form>
