<style>

body { background-color: gray; }
h1 { text-align:center;
font-size: 60px;
color: white;
font-family: "Courier New";
border-style:solid;}
h2 { color: white;
font-family: "Courier New";
font-size: 25px; }
.blogpost { color: black;
font-family: "Courier New";
font-family: 20px; }

</style>

<h1>Welcome to the BOSE blog </h1>
<br>
<h2>Title1</h2>
<ul>
  <li class="blogpost">This is a blogpost lalalalala why don't pineapples have sleeves? Wears/where's your paddle? This is basically the new Facebook #innovation </li>
</ul>

<button type="button"><a href="http://www.google.com">Return home</a></button>


